* {
    background-color: pink;
    
}
/**body {
    text-align: center;
} **/
.profile {
    border-radius: 10px;
    box-shadow: 5px 2px 5px palevioletred;
}
/** ul {
    list-style: none;
} **/

table, th, td {
    border: 1px, solid black;
}
header, section, footer{
    text-align: center;
}
ul {
    list-style-position: inside;
}
table {
    margin-left: auto;
    margin-right: auto;
}
video {
    border-radius: 10px;
}
